= form.input :civility
= form.input :first_name
= form.input :last_name
= form.input :address
= form.input :address_details
= form.input :zip
= form.input :city
= form.input :country
= form.input :phone
