.cart-recap{ data: { :'cart-recap' => true } }
  = simple_form_for @cart, url: cart_path(@cart), as: :cart, remote: true, data: { :'cart-form' => true } do |form|
    %table.table.table-striped
      %thead
        %tr
          %th= LineItem.human_attribute_name(:name)
          %th= LineItem.human_attribute_name(:unit_price)
          %th= LineItem.human_attribute_name(:quantity)
          %th= LineItem.human_attribute_name(:price)

      %tbody
        = form.fields_for :line_items do |line_item_fields|
          %tr{ data: { :'line-item-id' => line_item_fields.object.id } }
            %td= line_item_fields.object.name
            %td= line_item_fields.object.unit_price
            %td= line_item_fields.input_field :quantity, spinner: false, class: 'form-control', data: { :'quantity-field' => true }
            %td= line_item_fields.object.price

        %tr
          %td{ colspan: 3 }= t('stall.carts.recap.total_eot_price')
          %td= number_to_currency(@cart.total_eot_price)

        %tr
          %td{ colspan: 3 }= t('stall.carts.recap.total_vat')
          %td= number_to_currency(@cart.total_vat)

        %tr
          %td{ colspan: 3 }= t('stall.carts.recap.total_price')
          %td= number_to_currency(@cart.total_price)

    .form-actions
      %button.btn.btn-default{ type: 'submit', data: { :'cart-update-button' => true } }
        = t('stall.carts.recap.update')

      = link_to checkout_path(current_cart_key), class: 'btn btn-primary' do
        = t('stall.carts.recap.validate')
