= render partial: 'stall/checkout/steps/navigation', locals: { cart: cart, wizard: @wizard, step: @step }

-# Display sign in form for users that are not signed in
- unless user_signed_in?
  - resource = User.new
  = render partial: 'stall/customers/sign_in', locals: { resource: resource, resource_name: resource.model_name.element }

%h1= t('stall.checkout.informations.title')

= simple_form_for cart, as: :cart, url: step_path do |form|
  .row
    .col-md-7
      = render partial: 'stall/customers/fields', locals: { form: form, cart: cart }
      = render partial: 'stall/addresses/fields', locals: { form: form, cart: cart }

    .col-md-5
      = render partial: 'stall/carts/cart', locals: { cart: cart }
      = render partial: 'stall/shipments/fields', locals: { form: form, cart: cart }
      = render partial: 'stall/payments/fields',  locals: { form: form, cart: cart }

      -# Basic implementation to display the terms acceptance checkbox before
      -# the order is placed. Just fill in the `config.terms_path` in the
      -# Stall initializer if you want to change the terms URL, but feel free
      -# to customize further if needed.
      = form.input :terms, label: false do
        = form.check_box :terms, id: 'terms-checkbox'
        = form.label :terms, t('stall.checkout.informations.accept_the')
        = link_to Stall.config.terms_path, target: '_blank', rel: 'nofollow' do
          = form.object.class.human_attribute_name(:terms)

      %button.btn.btn-primary.btn-lg.btn-block{ type: 'submit' }
        = t('stall.checkout.informations.validate')
