%h1= t('stall.checkout.payment_method.title')

= simple_form_for cart, as: :cart, url: step_path(cart) do |form|
  = form.fields_for :payment do |payment_fields|
    = payment_fields.association :payment_method, as: :radio_buttons, collection: PaymentMethod.active.ordered

  .form-actions
    %button.btn.btn-primary{ type: 'submit' }
      = t('stall.checkout.payment_method.validate')
