-# Steps navigation presented as breadcrumbs. By default, all steps are shown
-# but the navigation isn't shown in the `payment_return` step, to avoid
-# customers going back at this point.
%ol.breadcrumb
  - wizard.steps.each_with_index do |step_identifier, index|
    %li{ class: ('active' if step.is?(step_identifier) ) }
      - if wizard.step_complete?(step_identifier) && wizard.cart.active?
        = link_to change_checkout_step_path(wizard.cart.identifier, step_identifier) do
          %span.badge= index + 1
          = t("stall.checkout.#{ step_identifier }.title")
      - else
        %span.badge= index + 1
        = t("stall.checkout.#{ step_identifier }.title")
