= form.input :state, as: :selectize, collection: Shipment.states.keys.map { |state| { text: I18n.t("activerecord.enums.shipment.state.#{ state }"), value: state } }

= form.input :shipping_method, :as => :selectize
= form.input :tracking_code

= form.input :price
= form.input :sent_at, wrapper: :horizontal_form

- if form.object.cart.persisted?
  = form.input :shipping_note do
    = link_to @component.relation_path(form.object.cart, :shipping_note, action: :new), class: 'btn btn-default', remote: true, data: { :'remote-modal-form' => true, :'refresh-on-close' => true } do
      = fa_icon 'envelope'
      = t('para.stall.shipping_note.create')

