= resources_table(model: model, component: component) do |table|
  = table.header do
    = table.header_for(:image)
    = table.header_for(:name)
    = table.header_for(:visible)
    = table.header_for(:price, sort: :variants_price)
    = table.header_for(:product_category, sort: :product_category_name)

  = table.rows(resources) do |resource|
    %td= image_tag(resource.image.url(:thumb)) if resource.image
    = table.data_for(resource, :name)
    = table.data_for(resource, :visible)
    = table.data_for(resource, :price)
    = table.data_for(resource, :product_category)
