= modal id: "shipment-modal-#{ @cart.id }", fade: false do |modal|
  = modal.header do
    = t('para.stall.shipping_note.create')

  = simple_form_for @shipment, url: @component.relation_path(@cart, :shipping_note), method: :post, remote: true do |form|
    = modal.body do
      - if @shipment.notification_email_sent_at
        .alert.alert-warning
          = t('para.stall.shipping_note.notification_already_sent_at', date: l(@shipment.notification_email_sent_at)).html_safe

      .well
        = t('para.stall.shipping_note.help').html_safe

      = form.input :shipping_method, as: :selectize
      = form.input :tracking_code, hint: t('para.stall.shipping_note.tracking_code_help').html_safe

    = modal.footer do
      %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
        = t('stall.shared.cancel')

      %button.btn.btn-primary{ type: 'submit' }
        = t('stall.shared.send')
