%tr.variants-matrix-variant-row{ class: ('disabled' unless form.object.published?), data: { :'variants-matrix-variant-row' => true, :'variant-id' => form.object.id } }
  %td{ data: { :'variants-matrix-variant-enabled-cell' => true } }
    = form.hidden_field :id
    = form.hidden_field :_destroy, value: 'false', data: { :'variant-remove' => true }

    %span.checkbox
      %label
        = form.check_box :published, checked: (form.object.published? || form.object.new_record?), data: { :'variants-matrix-variant-enabled' => true }
        %i.checkbox-icon

  - all_properties.each do |property_config|
    -# Hide all fields for new records
    %td{ class: ('hidden' unless property_config.active?), data: { :'variants-matrix-variant-property' => property_config.property.id } }
      = form.fields_for :variant_property_values, [property_config.variant_property_value_or_build_for(form.object)] do |fields|
        %span{ data: { :'property-name' => true } }
          = property_config.property_value_for(form.object).try(:name)

        = fields.hidden_field :property_value_id, data: { :'property-value-id' => true }

  %td
    .input-group
      = form.input_field :price, class: 'form-control'
      %span.input-group-addon
        = form.object.currency.symbol

  %td
    %button.btn.btn-default.btn-shadow.hint--left{ type: 'button', :'aria-label' => t('para.stall.variants_matrix.apply_to_all'), data: { :'variants-matrix-apply-to-all' => true } }
      = fa_icon 'sort-amount-asc'
